body {
  padding: 10px 50px;
  font: 14px "Ubuntu", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapid {
  height: 700px;
}

ul.caption {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 3.125em;
    list-style: none;
}

ul.monarch {
    max-width: 500px;
}

ul.caption li {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.caption li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 15px;
}

ul.caption li.first::before {
    background-color: #00DFFF;
}

ul.caption li.second::before {
    background-color: #8024FF;
}

ul.caption li.third::before {
    background-color: #230066;
}

ul.menu {
    height: 20px;
}

ul.menu li {
    list-style: none;
    float: left;
    position: relative;
}

ul.menu li a {
    color: #B6B6B6;
    text-transform: uppercase;
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

ul.menu li a:hover,
ul.menu li.active a  {
    color: #220169;
}

ul.menu li a::after {
    background: #8024FF;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    opacity: 0;
    filter: alpha(opacity= 0 );
    -webkit-transition-property: opacity transform;
    -moz-transition-property: opacity transform;
    transition-property: opacity transform;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-dtiming-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

ul.menu li.active a::after,
ul.menu li a:hover::after {
    opacity: 1;
    filter: alpha(opacity= 100 );
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
}
